<img src={{gif}} alt="gif of a cat">
<p><a href={{gifsrc}}>via GIPHY</a></p>
{{#if hellocat}}
<p><a href="/secret/cat/hellocat.gif">Download GIF</a></p>
{{/if}}
<script src="/js/secret.js" nonce={{randomString}}></script>