{{> header}}
<main class="center center-small">
    <div>
        <h1>Start writing your love story</h1>
        <p>Express your feelings in a letter and send your words to find love.</p>
    </div>
    <a href="login">Login</a>
</main>
