/* Fonts */

@font-face {
    font-family: "L'Engineer";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/l'engineer-rg.otf") format("opentype");
}

@font-face {
    font-family: "StayWriter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/l'engineer-rg.otf") format("opentype");
}

/* Variables */

:root {
    /* colors */
    --red: #ED541B;
    --orange: #F39F0E;
    --black: #1D182E;
	--blue: #5245C7;
	--green: #77DD77;
    --yelange: #F6BF26;
	--grey: #D3D3D8;
	
	/* fonts */
	--main-font: "L'Engineer", Segoe Script, Ubuntu, Times, Times New Roman, cursive;
}


/* General */
html, body {
    height: 100%;
	margin: 0;
}

body[class="dark"] {
    background-color: var(--black);
	background-color: #1D182E;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* --- main --- */

header {
    margin-bottom: 1em;
}

nav svg {
    height: 5em;
    margin: 0.5em 0 0 0.5em;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin-right: 1.25em;
    align-self: center;
    margin-top: 0.4em;
}

nav a {
    font-family: var(--main-font);
    color: var(--red);
    font-size: 1.5em;
    transition: color 0.5s ease;
    text-transform: capitalize;
}

nav a:hover {
    color: var(--yelange);
}

nav li:first-of-type a {
    margin-right: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
}

main.center {
	height: 80%;
	align-items: center;
	justify-content: center;
    margin: 0 auto;
}

main > div {
    min-width: 17.5em;
    min-height: 20em;
    margin: 0 auto 2em auto;
    border: solid rgba(47, 46, 49, 0.2) 0.1em;
    box-shadow: 0 0.75em 0.75em rgba(47, 46, 49, 0.14);
}

main > div > h1 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.75em;
    color: var(--orange);
    width: 10em;
    margin: 1.5em auto 2em auto;
    text-align: center; 
}

main div p {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.125em;
    color: var(--red);
    line-height: 1.5em;
    text-align: center;
    width: 12.5em;
    margin: 0 auto 2.5em auto;
}

main a[href="login"], form input[type="submit"]  {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.85em;
    text-transform: uppercase;
    color: white;
    background-color: var(--blue);
    border-radius: 0.25em;
    border: solid 0.05em;
    border-color: #4D40C2;
    padding: 0.5em 1.75em;
    margin: 0 auto;
    box-shadow: 0em 0.15em 0.4em rgba(0, 0, 255, 0.25);
    transition: background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.1s ease-out, transform 0.1s ease-out;
}

main a:hover, form input[type="submit"]:hover {
    background-color: var(--yelange);
    border-color: #F6C231;
}

main a:active, form input[type="submit"]:active {
    box-shadow: 0 0 0;
    transform: translateY(0.25em);
}

/* -- Form -- */

main form h1 {
    font-weight: 600;
    font-size: 1.75em;
    color: var(--orange);
    margin-bottom: 1em;
    text-align: center;
}

main form {
    display: flex;
	flex-direction: column;
	font-family: "L'Engineer", Ubuntu, Segoe Script, Times, Times New Roman, cursive;
    font-family: var(--main-font);
    align-items: center;
    margin: 7.5em auto;
}

form[action$="signup"] {
	margin: 0.5em auto;
}

main form label {
    font-weight: 400;
    font-size: 1.25em;
	max-width: 12em;
	color: black;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

main form label input  {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.1em;
    color: var(--blue);
	border: none;
	border-bottom: solid #D3D3D8 0.1em;
    border-bottom: solid var(--grey) 0.1em;
    box-shadow: 0 0.5em 0.75em rgba(204, 203, 201, 0.35);
    padding: 0.25em 0.5em 0.25em 0.25em;
	margin: 0.25em 0 1.5em 0;
	transition: border-bottom ease-in 0.35s, box-shadow ease-in 0.35s ;
}

main form label input::placeholder {
	color: #D3D3D8;
	color: var(--grey);
}

main form label input:valid:not(:placeholder-shown):not([name="name"]) {
	border-bottom: solid #77dd77 0.1em;
	border-bottom: solid var(--green) 0.1em;
	box-shadow: 0 0.5em 0.75em rgba(27, 250, 75, 0.35);
}

main form label input:invalid {
	border-bottom: solid #ED541B 0.1em;
	border-bottom: solid var(--red) 0.1em;
	box-shadow: 0 0.5em 0.75em rgba(240, 99, 44, 0.35);
}

main form label input:required {
	border-bottom: solid #F6BF26 0.1em;
	border-bottom: solid var(--yelange) 0.1em;
	box-shadow: 0 0.5em 0.75em rgba(234, 238, 22, 0.479)
}

main form label input:focus  {
	border-bottom: solid #5245C7 0.1em;
	border-bottom: solid var(--blue) 0.1em;
	box-shadow: 0 0.5em 0.75em rgba(75, 128, 241, 0.479)
}

form input[type="submit"] {
	margin: 1.5em auto;
}

form input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

main form label input:valid ~ input[type="submit"] {
	background-color: #77DD77;
	background-color: var(--green);
}

input[type="submit"]:hover {
    cursor: pointer;
}

/* --- gif --- */

img[src$=".gif"] {
    display: flex;
    margin: 5em auto 2.5em auto;
    max-height: 35em;
}

img[src$=".gif"]~ p {
    text-align: center;
}

img[src$=".gif"] ~ p a {
    font-family: Helvetica, Arial, Ubuntu, sans-serif;
    color: white;
}

img[src$=".gif"] ~ p:last-of-type {
	margin-top: 1em;
}

img[src$=".gif"] ~ p a[href$="hellocat.gif"] {
    color: var(--yelange);
    color: #F6BF26;
	text-decoration: underline;
	margin-top: 1em;
    font-weight: bold;
}